<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ANZ Loan Calculator">
  <test thread-count="5" name="Chrome Test">
  	<classes>
  		<class name="com.au.anz.runner.LoanBorrowingCalculatorRunner"/>
  	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
